.a {
  height: 100vh;
  display: flex;
  align-items: center;
}

.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.a-right {
  flex: 1;
}

.a-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: rgb(59, 59, 59);
}
.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: absolute;
  overflow: hidden;
}

.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.a-tittle {
  font-weight: 400;
}

.a-sub {
  margin: 20px 0px;
}

.a-des {
  font-weight: 300;
}

.a-award-img {
  height: 120px;
  width: 120px;
  border-radius: 20px;
}

.a-award {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a-award-texts {
  width: 70%;
}

.a-award-title {
  font-weight: bold;
  color: rgb(51, 84, 192);
}
.a-award-desc {
  margin: 10px 0px;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .a {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }

  .a-left {
    width: 100%;
  }

  .a-card {
    height: 30vh;
  }

  .a-card.bg,
  .a-award {
    display: none;
  }

  .a-right {
    padding: 20px;
  }
}
