<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div className="about-section">
  <h1>About Us Page</h1>
  <p></p>
  <p></p>
</div>

<h2 style="text-align:center">Our Team</h2>


  
  <div className="column">
    <div className="card">
      <!-- <img src="C:\Users\S K Digital\Downloads\IMG_20211024_152441.jpg" alt="anshuman" style="width:50%"> -->
      <div className="grid-container">
        <h2>Anshuman Goswami</h2>
        <p className="title">Student</p>
        <p>anshumangoswami07@gmail.com</p>
        <p><button className="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div className="row">
  <div className="column">
    <div className="card">
      <!-- <img src="C:\Users\S K Digital\Downloads\isha.jpg" alt="isha" style="width:50%"> -->
      <div className="grid-container">
        <h2>Isha Choudhary</h2>
        <p className="title">student</p>
        <p>ishachoudhary6260241539@gmail.com</p>
        <p><button className="button">Contact</button></p>
      </div>
    </div>
  </div>
  

</body>
</html>
